<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<a href="https://www.w3schools.com/html/html_forms.asp">Click Here to Learn More about HTML Froms</a>
<form >


    First Name  :   <input type="text" name="firstname">
    <br>
    Last Name   :   <input type="text" name="lastname">
    <br>
    Email       :   <input type="email" name="email" required>
    <br>
    Password       :   <input type="password" name="password" required>
    <br>
    Birthday       :<input type="date" name="Birthday" required>
    <br>
    Gender   : <br>
                    <input type="radio" name="gender" value="Male">Male
    <br>
                    <input type="radio" name="gender" value="female">Female
    <br>
                    <input type="radio" name="gender" value="Other">Other
    <br>
    Which Pet Do you have   : <br>
                    <input type="CheckBox" >Cat
    <br>
                     <input type="CheckBox" >Dog
    <br>
    Cars : <br>
    <select >
        <option value="Ford">Ford</option>
         <option value="Toyota">Toyota</option>
         <option value="Volvo">Volvo</option>
        <option value="Mercedes">Mercedes</option>
    </select>  <br>  <br>





                <input type="submit" name="Register">
                <input type="reset" name="reset">




</form>

</body>
</html>