<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My HTML Site</title>
</head>

<h1> This is heading 1  </h1>
<a href="https://www.w3schools.com/tags/">Click Here to Learn More about HTML Tags</a>
<br>
<hr>
<a href="Forms.html">Click HERE to Register</a>

<h2>This is heading 2 </h2>
<h3> This is heading 3  </h3>
<h4>This is heading 4 </h4>
<h5> This is heading 5  </h5>
<h6>This is heading 6 </h6>

<p><strong>Lorem ipsum</strong>
    Lorem ipsum dolor sit amet, consectetuer
    adipiscing . Aenean commodo l
<p>


<ol>
    <li>phone</li>
       <ol>
        <li>Samsung</li>
           <hr>
        <li>iphone</li>
           <hr>
        <li>myphone</li>
        </ol>
    <li>Tablet</li>
    <li>PC</li>
    <li>Bana</li>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Orange-and-banana.jpg" width="80" height="80">

</ol>



</body>
</html>
 